.transaction-history {
  text-align: center;
  text-transform: capitalize;
}

.header {
  text-transform: uppercase;
}
.header-item {
  width: 200px;
  padding: 10px 0;
  color: white;
  background-color: #00bcd5;
}

.body-list {
  background-color: white;
}
.body-list:nth-child(even) {
  background-color: #c2e7f5;
}
.body-item {
  padding: 10px 0;
}
